	<div class="card card-2 border border-gray">
	
	  <div class="d-flex justify=content-center">
		  <img class="card-img-top fotos-perfil" src="{{imagem}}" alt="Imagem de capa do card" style="width: 200px ; height: 200px ;">
	  </div>
  
	  
	  <div class="card-body">
		<h5 class="card-title text-center text-monospace" [(ngModel)]='user.nome' style="font-weight: bolder; font-family:Verdana, Geneva, Tahoma, sans-serif">{{nome}}</h5>
		<hr>
		<a  class="btn btn-info mb-3 d-flex justify-content-center" routerLink='/post-produto'>Cadastrar Produto</a>
		<a  class="btn btn-primary mb-3 d-flex justify-content-center" routerLink='/cadastro-categoria'>Cadastrar Categoria</a>
	  </div>
	</div>
