.arredondar{
  border-radius: 50%; 
  width: 190px;
  height: 190px;
}
.card-perfil
{
border-color: rgb(255, 253, 253);
text-align: center;
margin: 7px;
}
p{
 font-size: 24pt;
}
/*Imagem*/
img:hover{
box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.90); 
cursor: pointer;
width: 200px;
transition: 1s;
}
/*Icons*/
.fa-github {
  color: #000000;
  font-size: 25px;
  margin-right: 10px;
}
.fa-linkedin-in {
  color: #000000;
  font-size: 25px;
}
/*Conteúdo do método mostraTexto*/
#textoSobre {
  font-size: 15pt;
}
