<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="row d-flex justify-content-center">
  <div class="col-md-2">

      <div class="card card-perfil" style="margin-right: 10px;">
          <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/ihAcww5.png"
              alt="Imagem de capa do card">
          <div class="card-body">
              <h5 class="card-title">Daiana Gomes</h5>
              <p class="card-text">Escolhi a graduação em Matemática por gostar dos números, e lá conheci 
                  algumas linguagens de programação, o que me despertou o desejo de conhecer mais e me aventurar
                   no mundo da tecnologia</p>

          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card card-perfil">
          <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/bw80zob.jpg"
              alt="Imagem de capa do card">
          <div class="card-body">
              <h5 class="card-title">Francco Lafemina</h5>
              <p class="card-text">Paulista, de 26 anos, curioso e extremamente apaixonado por tecnologia.Trabalhei por muito tempo 
                  na área de atendimento,onde adquiri muita comunicação e trabalho em equipe que vão me ajudar muito nessa nova 
                  jornada.</p>

          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card card-perfil">
          <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/WxqxGdX.jpg"
              alt="Imagem de capa do card">
          <div class="card-body">
              <h5 class="card-title">Everton de Souza</h5>
              <p class="card-text">Jovem e com muita paixão por aprender, possuo cinco anos de experiência na área de vendas na qual
                   me favoreceu com qualidades como comunicação interpessoal e persuasão, sempre me destaquei pelas empresas, nas 
                   quais prestei serviço. Agora procuro seguir uma carreira na
                   área de tecnologia com o propósito de me tornar um profissional ainda mais completo agregando meus conhecimentos 
                   a mesma</p>

          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card card-perfil">
          <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/xMwdPjJ.jpg"
              alt="Imagem de capa do card">
          <div class="card-body">
              <h5 class="card-title">Gabriela Gomes</h5>
              <p class="card-text">Gestora de Pessoas por formação, vi na tecnologia um caminho muito mais amplo 
                  para impactar a vida de pessoas com soluções criativas e esperança. Amante de livros, filmes e de
                   um bom hambúrguer.</p>

          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card card-perfil">
          <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/9EKrdTe.jpg"
              alt="Imagem de capa do card">
          <div class="card-body">
              <h5 class="card-title">Valber Renan</h5>
              <p class="card-text">Sou uma pessoa responsável e que gosta de trabalhar em equipe para entregar resultados. 
                  Além disso, tenho um perfil conciliador que me ajuda a lidar com diversas situações com facilidade. 
                  Estou sempre aberto às oportunidades e valorizo muito a integridade e o trabalho como formas de aprendizado.</p>

          </div>
      </div>
  </div>
</div>