<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<div class="row d-flex justify-content-center">
    <div class="col-md-2"> 
        <div (mouseout)= "mostraTexto('')" (mouseover)="mostraTexto('daiana')" class="card card-perfil" style="margin-right: 10px;">
            <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/InsDhgj.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title">Daiana Gomes</h4>
                <a href="https://github.com/daianagomes" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/daianagomes/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div (mouseout)= "mostraTexto('')" (mouseover)="mostraTexto('francco')"  class="card card-perfil">
            <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/bw80zob.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title">Francco La Femina</h4>
                <a href="https://github.com/Francco-git" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/francco-la-femina-633056167/" target="_blank"><i class="fab fa-linkedin-in"></i></a>               
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div (mouseout)= "mostraTexto('')" (mouseover)="mostraTexto('everton')"  class="card card-perfil">
            <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/WxqxGdX.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title">Everton de Souza</h4>
                <a href="https://github.com/Everton2020" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/everton-souza-silva-67804a188/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div (mouseout)= "mostraTexto('')" (mouseover)="mostraTexto('gabriela')" class="card card-perfil">
            <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/t2tHx1O.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title">Gabriela Gomes</h4> 
                <a href="https://github.com/gabgome/" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/gabriela-gomes-c/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div (mouseout)= "mostraTexto('')" (mouseover)="mostraTexto('valber')"  class="card card-perfil">
            <img class="card-img-top arredondar img-fluid" src="https://i.imgur.com/R1b32US.jpg"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title">Valber Renan</h4>
                <a href="https://github.com/valber-renan" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/valber-renan-8aa296183/" target="_blank"><i class="fab fa-linkedin-in"></i></a>                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p id="textoSobre"></p>
    </div>
</div>
