<div class="container d-flex mb-5">

  <div class="col-md-4 mt-5">
    <div class="card border-0" style="width: 15rem;">
    
        <div class="d-flex justify=content-center">
            <img class="card-img-top w-80 fotos-perfil" src="{{imagem}}" alt="Imagem de capa do card">
        </div>
    
        
        <div class="card-body">
          <h5 class="card-title text-center text-monospace" [(ngModel)]='user.nome'>{{nome}}</h5>
          <a  class="btn btn-info mb-3 d-flex justify-content-center" routerLink='/post-produto'>Cadastrar Produto</a>
          <a  class="btn btn-primary mb-3 d-flex justify-content-center" routerLink='/cadastro-categoria'>Cadastrar Categoria</a>
        </div>
      </div>
    </div>

    <div class="col-md-8" style="left: 50px; top: 30px;">
        <h3 class="text-center mb-4 text-monospace"> Cadastro de uma nova Categoria</h3>

        <div class="form-group">
            <label class="text-monospace" for="texto">Nome da categoria:</label>
            <input class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu novo categoria" [(ngModel)] ='categoria.nome'>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-success w-25" (click)='cadastrar()'>Cadastrar</button>
            </div>
        </div>

        <hr>

        <div class="row mt-5">
            <div class="col-md-12">
                <h4 class="text-center text-monospace">Lista de categorias</h4>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descricao</th>
                <th scope="col" class="d-flex justify-content-end">Modificações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of listaCategorias'>
                <th scope="row">{{item.id}}</th>
                <td>{{item.nome}}</td>
                <td class="d-flex justify-content-end">
                  <a class="btn btn-info mr-3"[routerLink]="['/editar-categoria',item.id]">Editar</a>
                  <a class="btn btn-danger" [routerLink]="['/delete-categoria',item.id]">Apagar</a>
                </td>
              </tr>

            </tbody>
          </table>

    </div>
</div>
