<!--Ideia de texto: descrever a ideia / pitch do projeto-->
<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">SOBRE O PROJETO</h1>
        </div>
    </div>
</div>

<div class="container d-flex mb-5">
    <div class="row mt-5">

        <div class="row col-md-6 mt-2 mb-3 w-100">
            <img src="https://imgur.com/6ZJQVPS.jpg" alt="foto sobre">
        </div>
        <!--Colocar os styles no CSS-->
        <!--Definir fonte padrão-->
        <div class="col-md-6 mt-2 mb-3" style="left: 150px;">
            <p class="text-justify text-monospace font-weight-light">
                A pandemia chegou e causou muitas mudanças na nossa sociedade como um todo, e com ela veio uma demissão
                em massa
                para os mais diferentes setores. Várias famílias tiveram que se reinventar para gerar renda, muitas
                optaram por
                abrir um negocio próprio para fechar as contas do mês. Algumas delas oferecem um bom serviço, porém não
                tem muita
                noção de como divulgar o seu negócio. Outros ainda utilizam formas de divulgação um pouco antigas e não
                sustentáveis,
                como os folhetos e é nisso que nosso software entra.
            </p>
            <p class="text-justify text-monospace font-weight-light">
                Nosso projeto foi escolhido, pois é um problema muito pertinente no nosso contexto atual. Escolhemos o
                e-commerce pois
                é algo bem familiar para os possíveis usuários e será prático de implementar.
                O software, a principio, será direcionados a empreendedores que moram em condomínios (que trabalham em
                casa) e áreas próximas do mesmo.
                Será dedicado a prestação e contratação de serviços, contudo será aberto a todos os moradores do próprio
                condomínio e de regiões vizinhas.
                De maneira bem amigável e democrática, pretendemos assim ajudar na valorização do empreendedor autônomo
                e seus serviços.
            </p>

        </div>
    </div>
</div>
<!--Ideia de texto: contar como funciona o software-->
<div class="container w-100 margem-cima">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">COMO FUNCIONA</h1>
        </div>
    </div>
</div>

<div class="container d-flex mb-5">
    <div class="row mt-5">

        <div class="col-md-6 mt-2 mb-3">
            <p class="text-justify text-monospace font-weight-light">
                A pandemia chegou e causou muitas mudanças na nossa sociedade como um todo, e com ela veio uma demissão
                em massa
                para os mais diferentes setores. Várias famílias tiveram que se reinventar para gerar renda, muitas
                optaram por
                abrir um negocio próprio para fechar as contas do mês. Algumas delas oferecem um bom serviço, porém não
                tem muita
                noção de como divulgar o seu negócio. Outros ainda utilizam formas de divulgação um pouco antigas e não
                sustentáveis,
                como os folhetos e é nisso que nosso software entra.
            </p>
            <p class="text-justify text-monospace font-weight-light">
                Nosso projeto foi escolhido, pois é um problema muito pertinente no nosso contexto atual. Escolhemos o
                e-commerce pois
                é algo bem familiar para os possíveis usuários e será prático de implementar.
                O software, a principio, será direcionados a empreendedores que moram em condomínios (que trabalham em
                casa) e áreas próximas do mesmo.
                Será dedicado a prestação e contratação de serviços, contudo será aberto a todos os moradores do próprio
                condomínio e de regiões vizinhas.
                De maneira bem amigável e democrática, pretendemos assim ajudar na valorização do empreendedor autônomo
                e seus serviços.
            </p>

        </div>

        <div class="row col-md-6 mt-2 mb-3" style="left:50px;">
            <img src="https://imgur.com/6ZJQVPS.jpg" alt="foto sobre">
        </div>
    </div>
</div>
<!--Repetir 4 vezes o perfil-->
<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">NOSSA EQUIPE</h1>
        </div>
    </div>
</div>

<div class="container d-flex">

    <div class="row">
        <div class="col-md-4">
            <app-perfil-lateral></app-perfil-lateral>
        </div>
        <!--Pitch pessoal breve-->
        <div class="col-md-8" style="top: 50px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In commodi vitae, reiciendis illo rem non deleniti
            provident cupiditate atque eum, voluptatem qui, nemo odio quisquam molestiae accusamus sit consectetur
            neque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugiat sit tempore quidem harum, ipsa
            commodi aut molestias eaque velit quod minus enim dolore sunt at, vitae odit? Nulla, dolore!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis laudantium aliquam enim! Facere tempora nam
            dolor laboriosam, sequi nostrum dignissimos deserunt rem sint quia debitis nemo esse omnis repellat fugiat!
        </div>
    </div>
</div>