<!--Sobre o nosso projeto-->
<div class="container">
    <div class="row mt-5 w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">NOSSO PROJETO</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row mt-5 w-100">
            <div class="col-md-6">
                <img src="https://imgur.com/6ZJQVPS.jpg" class="w-100" alt="Imagem ilustrativa">
            </div>

            <div class="col-md-6">
                <p class="text-justify font-weight-light mt-3">
                    Com a crise provocada no mercado de trabalho pela pandemia do novo Coronavírus, muitos profissionais estão lidando com uma situação complicada: a perda do emprego nos mais diferentes setores. Várias famílias tiveram que se reinventar e traçar novos planos para se adaptar nesse momento delicado. Muitas pessoas começaram a produzir e vender diversos itens artesanais, como pães, bolos, salgados, roupas, sabonetes etc., abrindo um negócio próprio para fechar as contas do mês.
                </p>
                <p class="text-justify font-weight-light">
                    Nosso projeto nasceu da dificuldade que algumas pessoas enfrentam na hora de divulgarem seus serviços. Nosso objetivo é conectar os mais diversos prestadores de serviços a pessoas que necessitam contratar esses profissionais de forma eficaz, de modo que seja possível estimular o empreendedorismo, fomentando a economia local, valorizando o trabalhador informal.  
                </p>
            </div>
        </div>
    </div>
</div>

<!--Como funciona a plataforma-->
<div class="container">
    <div class="row mt-5 w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">COMO FUNCIONA</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center w-100 ml-2 mt-5">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/9OUQ8ck.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h6 class="card-title">1. FAÇA O SEU CADASTRO</h6>
                    <p class="card-text">O cadastro no FindWorkers é rápido e simples. Preencha com suas informações e clique em cadastrar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/faWd3S1.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h6 class="card-title">2. ESCOLHA UM SERVIÇO</h6>
                    <p class="card-text">Temos diversos produtos e serviços oferecidos por empreendedores qualificados e honestos da região.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/m0hmX1S.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h6 class="card-title">3. PAGUE</h6>
                    <p class="card-text">Pague de forma rápida e segura através de boleto ou cartão de crédito e débito.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://i.imgur.com/p9oZn5r.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h6 class="card-title">4. SERVIÇO REALIZADO OU PRODUTO ENTREGUE</h6>
                    <p class="card-text">Entrega de serviços no conforto do seu lar.</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>      
</div>

<!--Perfil da equipe-->
    <div class="row mt-5 w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center mb-5">NOSSA EQUIPE</h1>
            <app-perfil-lateral></app-perfil-lateral> <!-- Rota do Perfil Lateral-->
        </div>
    </div>
